.summary, .visualizations {
  background-color: var(--app-light-color) !important;
  padding: 0px;
}

.landing-grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-gap: 20px;
}

.text-wrap {
  float: left;
  margin: 10px;
}

.landing-image {
  width: 60%;
}

.visualization-image {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}


