:root {
	--main-bg-color: #A5ACAF;
	--app-secondary-color: #66c010;
	--app-light-color: #fff;
	--app-dark-color: #040224 ;
}

h3, h4 {
  color: var(--app-secondary-color);
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.card {
  border: 2px solid var(--app-dark-color);
}

a {
  text-decoration: none !important;
  color: var(--app-dark-color);
}

a:hover {
  color: var(--app-secondary-color);
}

hr {
  border-top: 2px solid var(--app-dark-color);
}

/* Sticky footer using flexbox */
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}