td {
  padding: 10px 5px;
  font-size: 11px;
  border: 1px solid var(--app-secondary-color) !important;
  color: var(--app-light-color);
}

th {
  text-align: left;
  padding: 10px 10px;
}

thead {
  background-color: var(--app-dark-color);
  color: var(--app-secondary-color);
}

table,th {
  border: 2px solid var(--app-secondary-color) !important;
}

a {
  color: var(--app-secondary-color);
}

a:hover {
  color: var(--app-dark-color);
}