.navbar-title {
  font-size: 20px;
  background-color: var(--app-secondary-color);
  color: var(--app-light-color) !important;
  padding: 15px;
  margin-left: 10px;
}

.navbar-title:hover {
  color: var(--app-dark-color) !important;
}

.nav-item {
  font-size: 20px;
  color: var(--app-secondary-color) !important;
}

.nav-item:hover {
  color: var(--app-pink-color) !important;
}

.navbar { 
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--app-dark-color) !important;
  margin-left: -65px;
  border-bottom: 2px solid var(--app-secondary-color);
}

.navbar-toggler {
  background-color: var(--app-secondary-color);
}

.dropdown-item:hover {
  color:var(--app-secondary-color);
}

.dropdown {
  padding-left: 50px;
}


/* Bootstrap md breakpoint */
@media (max-width: 991.98px) { 
  .dropdown-menu {
    background-color: var(--app-secondary-color);
  };
}


